{% extends 'base.html' %}
{% block title %}
home.html
{% endblock %}

{% block jumbo %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">할 일 을<br>안 하 면<br>새 로 운<br>우 주 가<br>탄 생 한 다</h1>
      <!--<p class="lead text-muted"></p>-->
      <hr class="my-4">
      <p>1. TODO 목록을 작성하세요.</p>
      <p>2. TODO 목록에 할 일을 추가하세요.</p>
      <p>3. TODO 할 일을 완료하세요.</p>
      <p>
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="btn btn-primary my-2">로그아웃</a>
          <a href="{% url 'password_change' %}" class="btn btn-secondary my-2">비밀번호 바꾸기</a>
          <a href="{% url 'todolist:index' %}" class="btn btn-danger my-2">내 목록 확인하기</a>
        {% else %}
          <a href="{% url 'signup' %}" class="btn btn-primary my-2">회원가입</a>
          <a href="{% url 'login' %}" class="btn btn-secondary my-2">로그인</a>
        {% endif %}
      </p>
    </div>
  </section>
{% endblock %}

{% block content %}

{% endblock %}